#container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
#flex-container {
  position: sticky;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#background {
  height: 100%;
  background: linear-gradient(
    341deg,
    rgba(77, 204, 255, 1) 0%,
    rgba(184, 234, 255, 1) 100%
  );
  position: relative;
}
.triangle1,
.triangle2 {
  position: absolute;
}
.triangle1 {
  height: 55%;
  width: 70%;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.411),
    rgba(255, 255, 255, 0.021)
  );
  bottom: 0%;
}
.triangle2 {
  height: 110%;
  width: 55%;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.671),
    rgba(255, 255, 255, 0.034)
  );
  z-index: 2;
  right: 0%;
  bottom: 0%;
}

#content {
  position: relative;
  transform: translateY(-95vh);
  width: 89%;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  margin-bottom: -87vh;
  /* temporary */
  height: 200vh;

  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.404);
  border: 1px solid rgba(163, 249, 255, 0.637);
  border-radius: 20px;
}

@media only screen and (max-width: 480px) {
  #container {
    height: 100%;
  }
  .triangle1 {
    height: 40%;
    width: 90%;
  }
  .triangle2 {
    width: 99%;
  }
  #content {
    transform: translateY(-90vh);
  }
}
