:root {
  --accent-color: rgb(0, 25, 48);
  --nav-foreground: rgb(235, 235, 235);
}
.fas {
  color: var(--nav-foreground);
}
#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    225deg,
    var(--accent-color) 0%,
    rgb(1, 74, 105) 100%
  );
  width: 82px;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.07, 0.32, 0.51, 0.99);
}
#navbar * {
  outline: none;
}
#navbar.extended {
  width: 220px;
}

.fa-tasks {
  position: sticky;
  top: 0;
  padding: 20px;
}
.large {
  font-size: 40px;
}
.small {
  font-size: 30px;
}
#navbar > a {
  border-bottom: solid 2px var(--nav-foreground);
}
#navbar ul {
  all: initial;
  padding: 27px 0px 20px 0px;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  font-size: large;
  flex-grow: 1;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
#navbar a.active .fas {
  color: rgb(77, 204, 255);
}
#navbar a > span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
}
#navbar li > span {
  display: flex;
}
#navbar a > li:hover,
#navbar a > li:focus,
#navbar a:hover,
#navbar a:focus {
  background-color: rgba(255, 255, 255, 0.082);
}
h4.navh4 {
  all: inherit;
  color: var(--nav-foreground);
  padding: 3px 10px 0px 10px;
  display: none;
  font-weight: 500;
}

#copyright-em {
  display: flex;
  width: 190px;
  justify-content: center;
  overflow-wrap: initial;
}
#copyright {
  transform: translateX(-200px);
  transition: all 0.2s cubic-bezier(0.38, 0.88, 0.53, 0.96);
  color: var(--nav-foreground);
}

#extendButton {
  border-top: solid 2px var(--nav-foreground);
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px 20px 0px;
  cursor: pointer;
}
#extendButton:hover,
#extendButton:focus {
  background-color: #ffffff4b;
}
.fa-chevron-right {
  transition: transform 0.3s cubic-bezier(0.03, 0.64, 1, 1);
}
#nav-overlay {
  background-color: transparent;
}

@media only screen and (max-width: 480px) {
  #navbar {
    position: absolute;
    width: 0px;
    z-index: 100;
    height: 100%;
  }
  h4.navh4 {
    display: block;
  }
  #navbar.extended {
    width: 60vw;
  }
  /* overlay */
  #nav-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
  }

  .large {
    font-size: 33px;
  }
  .small {
    font-size: 25px;
  }
  #copyright-em {
    width: 60vw;
    font-size: small;
    transition: 0.2s cubic-bezier(0.07, 0.32, 0.51, 0.99);
  }
  #extendButton {
    padding: 20px 25px 20px 0px;
  }
  .fa-chevron-right {
    transform: rotate(180deg);
  }
}
