.ProfileSection {
  height: 100%;
  background-color: rgba(0, 94, 131, 0.068);
  border-radius: 10px 10px 0px 0px;
}

.ProfileSection h2 {
  margin: 0px;
  text-transform: capitalize;
  font-weight: 600;
  background-color: rgba(0, 177, 247, 0.103);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid rgba(0, 107, 150, 0.568);
  position: relative;
}
.ProfileSection h2::after {
  content: "id:" attr(employeeid);
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.842);
}

.ProfileSection > form > .profileRow {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 107, 150, 0.301);
  transition: transform 150ms ease;
}

.ProfileSection > form > .profileRow > label {
  font-weight: 500;
  font-size: 15px;
}

.ProfileSection > form > .profileRow > span {
  flex-grow: 1;
  height: 26px;
  position: relative;
}
.ProfileSection > form > .profileRow > span.shortSpan {
  height: 18px;
}
.ProfileSection > form > .profileRow > span::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: rgba(0, 107, 150, 0.795);
  transform: scaleY(0);
  transition: all 250ms ease;
}
.ProfileSection > form > .profileRow > span.edit::after {
  transform: scaleY(1);
}

.ProfileSection > form > .profileRow > input,
.ProfileSection > form > .profileRow > select {
  box-sizing: content-box;
  width: 25%;
  min-width: 150px;
  height: 20px;
  border: 0px;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(0, 89, 255, 0.089);
  font-size: 15px;
  text-align: end;
  text-transform: capitalize;
  transition: all 250ms ease, color 100ms ease;
}

.ProfileSection > form > .profileRow:hover > input,
.ProfileSection > form > .profileRow:hover > select {
  background-color: rgba(0, 89, 255, 0.164);
}
.ProfileSection > form > .profileRow > input.edit,
.ProfileSection > form > .profileRow > select.edit {
  border-radius: 0px 5px 5px 0px;
}
.ProfileSection > form > .profileRow > input.edit:focus,
.ProfileSection > form > .profileRow > select.edit:focus {
  background-color: rgba(0, 89, 255, 0.301);
}

.ProfileSection > form > .profileRow > input[type="checkbox"] {
  width: 18px;
  height: 26px;
  margin: 0;
  min-width: 0px;
}

.ProfileSection > form > .profileRow > input[type="email"] {
  text-transform: lowercase;
}

.ProfileSection > form > .buttonsGrpProfilePage {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.ProfileSection > form > .buttonsGrpProfilePage > span {
  flex-grow: 1;
  align-self: flex-end;
  padding-left: 10px;
  color: rgb(0, 77, 112);
  font-size: 11px;
  text-decoration: underline;
}
.ProfileSection > form > .buttonsGrpProfilePage > span > span {
  cursor: pointer;
  opacity: 0.6;
}

.ProfileSection > form > .buttonsGrpProfilePage > span > span:hover {
  opacity: 0.9;
}

.ProfileSection > form > .buttonsGrpProfilePage > .sideButton {
  width: 200px;
  margin-right: 10px;
  display: inline-block;
}

.btn-deleteEmployee {
  background-color: rgb(243, 24, 24);
}
.btn-deleteEmployee:hover {
  background-color: rgb(255, 61, 61);
}
.btn-deleteEmployee:active {
  background-color: rgb(175, 0, 0);
}
.btn-deleteEmployee:focus {
  box-shadow: 0 0 0 3px rgb(149 211 236), 0 0 0 7px rgb(243, 24, 24);
}

#side > .deleteEmployeeDialog {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border-bottom: 2px solid rgb(1, 74, 105);
  border-top: 2px solid rgb(1, 74, 105);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: roll-in 0.5s ease forwards;
  background-color: rgba(0, 85, 119, 0.089);
}

#side > .deleteEmployeeDialog > h3 {
  margin-top: 0px;
  text-align: center;
  color: rgb(0, 36, 51);
}

#side > .deleteEmployeeDialog > a {
  outline: none;
}

@keyframes roll-in {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .ProfileSection > form > .buttonsGrpProfilePage {
    flex-direction: column;
    align-items: center;
  }
  .ProfileSection > form > .buttonsGrpProfilePage > span {
    align-self: auto;
  }
  .ProfileSection > form > .buttonsGrpProfilePage > .sideButton {
    margin: 0 0 10px 0;
  }
}
