nav {
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(150deg, rgb(0, 25, 48) 0%, rgb(1, 74, 105) 100%);
  color: var(--nav-foreground);
  min-height: 80px;
  z-index: 50;
  position: relative;
  border-left: solid 2px var(--nav-foreground);
}
nav > span {
  text-transform: capitalize;
  font-size: 22px;
  padding: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.fa-bars {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav {
    min-height: 60px;
  }
  nav > span {
    color: rgb(244, 255, 255);
    padding: 0px;
    font-size: 20px;
  }
  .fa-bars {
    font-size: 25px;
    display: inline-block;
    padding: 0px 15px 0px 15px;
  }
}
